# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Tri_tue_nhan_tao\search\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
